.iconBox {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.icon {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#iconCell {
  padding: 0 16px 0 16px; 
}

.ready {
  background-color: #b2bec3;
}

.row:hover {
  background-color: #eee;
  cursor: pointer;
}
